body {
    background-color: linear-gradient(to bottom, #FFDAB9, #F08080, #6495ED);
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .card-container .card {
    width: calc(50% - 10px);
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }
  
  .card-container .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  
  .card-container .card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .card-container .card-title {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .card-container .card-text {
    font-size: 1rem;
    margin: 0;
  }
  
  .card-container .card-link {
    color: #0077cc;
    text-decoration: none;
  }
  
  @media screen and (max-width: 767px) {
    .card-container .card {
      width: 100%;
    }
  }
  .card-container {
    display: inline-block;
    width: 45%;
    margin: 10px;
    position: relative;
  }
  
  .card-container:hover .card-details {
    display: block;
  }
  
  .card-img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .card-details {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    display: none;
    width: 100%;
  }
  
  .card-details h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .card-details p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  .card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .card-container:hover .card-content {
    background-color: #90EE90;
  }
  .chat-popup {
    position: fixed;
    top: 0;
    right: 15px;
    border: 3px solid #0838e6;
    z-index: 9999;
    background-color: rgb(194, 209, 192);
    width: 350px;
    height: 400px;
    display: none;
  }
  
  .chat-popup .chat-area {
    height: 300px;
    overflow-y: scroll;
  }
  
  .chat-popup textarea {
    width: 100%;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 5px solid #121312;
    border-radius: 4px;
    background-color: red;
    resize: none;
  }
  
  .chat-popup button {
    background-color: #4CAF50;
    color: gold;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 15px;
  }
  
  .chat-popup button:hover {
    opacity: 0.8;
  }
  
  .open-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 15px;
    border-radius: 5px;
  }
  
  .open-button:hover {
    opacity: 0.8;
  }
  .like-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: red;
    cursor: pointer;
  }
  .like-button:hover {
    color: gold;
  }

  